# Python cache / temp files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/

# IDE / Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Logs & debug files
*.log

# Large or generated intermediate files
processed/train_chunks.csv
processed/test_chunks.csv
processed/retrieval_outputs/
processed/claims/



# Backup or temp files
*.bak
*.tmp
